body {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    text-align: center;
}

h1, name {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}



.profile-img {
    border-radius: 50%;
    border-color: black;
    border: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.top-container {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #e6f2ff;
}

.about-contact-container {
    padding-top: 40px;
}

.text-center {
    text-align: center;
}

.list-inline-item {
    background-color: #006699;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 5px;
}

.skills-tile {
    padding: 5px;
    height: 60px;
    width: 60px;
    
}

.skills-text {
    text-align: center;
    font-size: 30%;
}

.skills-header {
    text-align: center;
}

.skills-list {
    text-align: center;
}

.spark-item {
    line-height: 18px;
}

.skills-container {
    padding-top: 50px;
    padding-bottom: 40px;
}

.experience-container {
    padding-top: 40px;
}

.project-image-left {
    width: 40%;
    float: left;
    margin-right: 30px;
    border-radius: 5%;
    border: solid black;
}

.project-image-right {
    width: 40%;
    float: right;
    margin-left: 30px;
    border-radius: 5%;
    border: solid black;
}

.middle-container {
    padding-top: 50px;

}

.project {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-list {
    list-style-type: none;
    padding-left: 0;
}

.adjust-footer {
    width:30%;
    margin:0 auto;
}

.footer-hr {
    width: 50%;
    margin:0 auto;
}


i {
    font-size: 1.5rem;
}

.copyright-text, .location {
    font-size: 12px;
}


.muted {
    opacity: 0.7;
}

.no-margin {
    margin: 5px;
}